@page
@model ThoiTrangNam.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Xác nhận Email";
}

<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <h4>@Model.StatusMessage</h4>
    <a asp-page="/Index">Quay lại trang chủ</a>
</div>