@model ThoiTrangNam.Models.Product
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>Thêm sản phẩm mới</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data" style="width:1200px;">
    <div class="form-group">
        <label asp-for="ProductName"></label>
        <input asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BuyPrice"></label>
        <input asp-for="BuyPrice" class="form-control" />
        <span asp-validation-for="BuyPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SellPrice"></label>
        <input asp-for="SellPrice" class="form-control" />
        <span asp-validation-for="SellPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" id="description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId" class="control-lable">Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl" class="control-lable">Product Image</label>
        <input type="file" asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Images">Other Images</label>
        <input type="file" asp-for="Images" multiple class="form-control" />
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Thêm mới" class="btn btn-primary" />
    </div>
    <div>
        <a asp-action="Index" class="btn btn-secondary">Trở về</a>
    </div>
</form>

@section Scripts {
    <script>
        ClassicEditor
            .create(document.querySelector('#description'), {
                ckfinder: {
                    uploadUrl: '@Url.Action("UploadImage", "Product")' // Đảm bảo URL là chính xác
                }
            })
            .catch(error => {
                console.error(error);
            });
    </script>
}
