html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}
.product-card:hover {
    transform: translateY(-5px);
}

.product-title {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 5px;
}

.product-price {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

.add-to-cart-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.add-to-cart-button:hover {
    background-color: #0056b3;
}
.overflow-ellipsis {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
